.f7 {
    font-size:.750rem
}

.orange-yellow{
    color: #F8B92D
}

.btn {
  cursor: pointer;
  color: white;
  background: #EF6664;
}

.btn-alt {
  cursor: pointer;
  color: #EF6664;
  background: white;
  border: 1px solid #EF6664;
}

.c-3A888D {
  color: #3A888D;
}


@media (max-width: 1430px) {
  .background-banner{
    min-height: 550px;
    /*background-size: auto 100%;*/
    /*border: 5px solid blue;*/
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1430px) {
  .background-banner{
    background-repeat: no-repeat;
    background-size: cover;
  }
}

