/* TODO: figure out why <Link> doesn't take additional classNames */
a {
  text-decoration: none;
}

.headerSize{
    font-size: 3rem;
}

.f7 {
    font-size:.750rem
}

.w6{
  width: 32rem;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.orange-yellow{
    color: #F8B92D
}

.c-484848{
    color: #686868;
}

.sysFont{
    font-family: 'Montserrat', sans-serif;
}

.c-767676{
    color: #767676;
}

.pointer{
  cursor:pointer;
}

.btn {
  cursor: pointer;
  color: white;
  background: #EF6664;
  border-radius: 5px;
  border: 1px solid #EF6664;
  padding: 10px 20px;
}

.c-484848{
  color: #484848;
}

.c-565656{
  color: #565656;
}

.c-EF6664 {
  color: #EF6664;
}

.b--red {
  border-color: #ff4136 !important;
}

.searchInput{
  border-width: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #484848;
}

.searchInput:focus{
  outline:none;
}

.transactionInput{
  font-family: 'Montserrat', sans-serif;
  color: #484848;
  padding:10px;
}

.transactionInput:focus{
  outline:none;
}

.datePicker:focus{
  outline: none;
}

.courseTextPrimary{
  color: #686666;
}

.courseTextSecondary{
  color: #909090;
}

.btn-alt {
  cursor: pointer;
  color: #EF6664;
  background: white;
  border: 1px solid #EF6664;
  padding: 10px 20px;
}

.btn-green {
  background: #45A399;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}

.btn-gray {
  background: white;
  color: #484848;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  padding: 10px 20px;
}

.textSecondary{
  color: #B4B4B4
}

.searchBox{
  border: 1px solid #989797;
  border-radius: 4px;
}

.row{
  background-color: gray;
}

.double{
  background-color: gray;
  width: 50%;
  height: 50%;
}

.single{
  background-color: gray;
  width: 25%;
  height: 25%;
}

.select {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #B0B0B0;
  background-color: white;
  color: #424242;
  background-image: url('/static/select-black.svg');
  background-repeat: no-repeat;
  background-position: 95% center;
  padding: 10px
}

.input[type='text'] {
  padding: 10px;
  border: 1px solid #B0B0B0;
  background-color: white;
  color: #424242;
  border-radius: 3px;
}

.label {
  padding: 10px;
  border: 1px solid #B0B0B0;
  background-color: white;
  color: #424242;
  border-radius: 3px;
}

.h-1 {
  font-size: 1.75rem;
  font-weight: 400;
}

@media (max-width: 1430px) {
  .background-banner{
    min-height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .headerPos{
    margin-top: -50px;
  }
}
@media (min-width: 1430px) {
  .background-banner{
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1000px){
  .agbHolder{
    width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 700px){
  .categoryWidth{
    width: 100%;
  }
}

@media (min-width: 700px){
  .categoryWidth{
    width: 50%;
  }
}

@media (max-width: 600px){
  .headerWidth{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
  }
  .headerWidthDouble{
    width: 200%;
  }
  .layoutHeader{
    flex-direction: column;
  }
  .mLeft{
    margin-left: 0px;
  }
}

/**
 * Hack for datepicker
 */

.course-page .react-datepicker__input-container,
.course-schedule .react-datepicker__input-container {
  display: block !important;
}

.course-page-date-picker {
  width: 100%;
  height: 32px;
  border: 1px solid #686666;
  border-radius: 3px;
}

/**
 * Course page media queries
 */

.course-sidebar {
  margin-bottom: -430px;
  margin-right: 50px;
}

.course-content {
  padding-left: 15%;
  margin-left: 5px;
}

.course-content-title {
  padding-right: 300px;
}

@media (max-width: 1200px) {
  .course-sidebar {
    margin-bottom: -250px;
    margin-right: auto;
    margin-left: auto;
  }

  .course-content {
    padding-top: 270px;
    padding-left: 0;
    margin-left: 0;
  }

  .course-content-title {
    padding-right: 0;
  }
}
