/* TODO: figure out why <Link> doesn't take additional classNames */
a {
  text-decoration: none;
}

.headerSize{
    font-size: 3rem;
}

.f7 {
    font-size:.750rem
}

.w6{
  width: 32rem;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.orange-yellow{
    color: #F8B92D
}

.c-484848{
    color: #686868;
}

.sysFont{
    font-family: 'Montserrat', sans-serif;
}

.btn {
  cursor: pointer;
  color: white;
  background: #EF6664;
  border-radius: 5px;
  border: 1px solid #EF6664;
  padding: 10px 20px;
}

.btn-alt {
  cursor: pointer;
  color: #EF6664;
  background: white;
  border: 1px solid #EF6664;
  padding: 10px 20px;
}

.btn-green {
  background: #3A888D;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}

.btn-gray {
  background: white;
  color: #484848;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  padding: 10px 20px;
}

.textSecondary{
  color: #B4B4B4
}

.searchBox{
  border: 1px solid #989797;
  border-radius: 4px;
}

.row{
  background-color: gray;
}

.double{
  background-color: gray;
  width: 50%;
  height: 50%;
}

.single{
  background-color: gray;
  width: 25%;
  height: 25%;
}

@media (max-width: 1430px) {
  .background-banner{
    min-height: 550px;
    /*background-size: auto 100%;*/
    /*border: 5px solid blue;*/
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1430px) {
  .background-banner{
    background-repeat: no-repeat;
    background-size: cover;
  }
}
