/**
 * Colors, Backgrounds, Borders go here
 */

.c-B24334 {
  color: red;
}

.c-3A888D {
  color: #3A888D;
}

.c-484848 {
  color: #484848
}

.bg-484848 {
  background: #484848
}

.c-ffffff {
  color: #ffffff;
}

.bg-ededed {
  background: #ededed;
}
